#
# TODO: add STM32 to .gitignore list and purge it from the repository (i.e. make a new repo with most things ignored, or remove it entirely)

#===============================================================================
# Windows
#===============================================================================
**desktop.ini
**Thumbs.db


#===============================================================================
# LibreOffice
#===============================================================================
**.~lock.*


